# Configuration file for ImageJ plugin "Fast Morphology"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Quantif Fasga 2, "Quantif. Fasga 2", inra.ijpb.appli.fasga.QuantifFasga2Plugin
Plugins>Quantif Fasga 2, "-"
Plugins>Quantif Fasga 2, "Color Filtering", inra.ijpb.appli.fasga.Fasga2MorphoFilteringPlugin
Plugins>Quantif Fasga 2, "Stem Segmentation", inra.ijpb.appli.fasga.Fasga2SegmentStemPlugin
Plugins>Quantif Fasga 2, "Regions Segmentation", inra.ijpb.appli.fasga.Fasga2SegmentRegionsPlugin
Plugins>Quantif Fasga 2, "Region Quantification", inra.ijpb.appli.fasga.Fasga2QuantifySegmentedSlicePlugin
Plugins>Quantif Fasga 2, "-"
Plugins>Quantif Fasga 2, "Color Space Converter", inra.ijpb.appli.fasga.ColorSpaceConverterPlugin
Plugins>Quantif Fasga 2, "RGB -> Hue", inra.ijpb.appli.fasga.RGBConverterPlugin("hue")
Plugins>Quantif Fasga 2, "RGB -> Saturation", inra.ijpb.appli.fasga.RGBConverterPlugin("saturation")
Plugins>Quantif Fasga 2, "RGB -> Brightness", inra.ijpb.appli.fasga.RGBConverterPlugin("brightness")
Plugins>Quantif Fasga 2, "RGB -> Luminance", inra.ijpb.appli.fasga.RGBConverterPlugin("luma")
Plugins>Quantif Fasga 2, "-"
Plugins>Quantif Fasga 2, "Remove Black Border", inra.ijpb.appli.fasga.RemoveBlackBorderPlugin

# Plugins>Quantif Fasga, "Quantif. Fasga", inra.ijpb.appli.fasga.QuantifFasgaPlugin
# Plugins>Quantif Fasga, "-"
# Plugins>Quantif Fasga, "Segment Stem", inra.ijpb.appli.fasga.SegmentStemPlugin
# Plugins>Quantif Fasga, "Average Color in ROI", inra.ijpb.appli.fasga.AverageColorPlugin
# Plugins>Quantif Fasga, "Distance Map To Regions", inra.ijpb.appli.fasga.DistanceMapToClassesPlugin
# Plugins>Quantif Fasga, "Average By Region", inra.ijpb.appli.fasga.AverageByRegionPlugin
